## Actividad 3  : Manejo de pandas
Subir un Jupyter Notebook (archivo con extension ipynb) al repositorio de github con las siguientes especificaciones:

1. Leer un archivo del formato de su elección sobre cualquier temática
2. Muestre la forma (SHAPE), información general (df.info()) y estadisticas descriptivas (df.describe()) del dataset
3. Genere un nuevo dataset aplicando un filtro sobre los datos originales
4. Genere un nuevo dataset aplicando un ordenamiento sobre los datos originales

In [4]:
import pandas as pd

In [18]:
# Punto 1: Lectura dataset Fórmula 1

formula_uno = pd.read_csv('qualifying_results_F1.csv', encoding="utf-8", sep = ",")
formula_uno.head()

,Season,Round,CircuitID,Position,DriverID,Code,PermanentNumber,GivenName,FamilyName,DateOfBirth,Nationality,ConstructorID,ConstructorName,ConstructorNationality,Q1,Q2,Q3
0,2000,1,albert_park,1,hakkinen,NaN,0,Mika,Häkkinen,1968-09-28,Finnish,mclaren,McLaren,British,1:30.556,0,0
1,2000,1,albert_park,2,coulthard,COU,0,David,Coulthard,1971-03-27,British,mclaren,McLaren,British,1:30.910,0,0
2,2000,1,albert_park,3,michael_schumacher,MSC,0,Michael,Schumacher,1969-01-03,German,ferrari,Ferrari,Italian,1:31.075,0,0
3,2000,1,albert_park,4,barrichello,BAR,0,Rubens,Barrichello,1972-05-23,Brazilian,ferrari,Ferrari,Italian,1:31.102,0,0
4,2000,1,albert_park,5,frentzen,NaN,0,Heinz-Harald,Frentzen,1967-05-18,German,jordan,Jordan,Irish,1:31.359,0,0

In [19]:
# Punto 2: Dataset shape, info y describe

print('Forma de la base de Fórmula 1: ', formula_uno.shape)
formula_uno.info()
formula_uno.describe()

Forma de la base de Fórmula 1:  (8918, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8918 entries, 0 to 8917
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Season                  8918 non-null   int64
 1   Round                   8918 non-null   int64
 2   CircuitID               8918 non-null   object
 3   Position                8918 non-null   int64
 4   DriverID                8918 non-null   object
 5   Code                    8674 non-null   object
 6   PermanentNumber         8918 non-null   int64
 7   GivenName               8918 non-null   object
 8   FamilyName              8918 non-null   object
 9   DateOfBirth             8918 non-null   object
 10  Nationality             8918 non-null   object
 11  ConstructorID           8918 non-null   object
 12  ConstructorName         8918 non-null   object
 13  ConstructorNationality  8918 non-null   object
 14  Q1                      8918 non-null   object
 15  Q2                      8918 non-null   object
 16  Q3                      8918 non-null   object
dtypes: int64(4), object(13)
memory usage: 1.2+ MB

            Season        Round     Position  PermanentNumber
count  8918.000000  8918.000000  8918.000000      8918.000000
mean   2013.446625    10.074568    11.018838        18.650482
std       6.344809     5.674682     6.129045        24.100853
min    2000.000000     1.000000     1.000000         0.000000
25%    2008.000000     5.000000     6.000000         0.000000
50%    2013.000000    10.000000    11.000000        10.000000
75%    2019.000000    15.000000    16.000000        25.000000
max    2024.000000    22.000000    24.000000        99.000000

In [25]:
# Punto 3: Nuevo dataset

data_filtrada = formula_uno[formula_uno['Season']>= 2020]
columnas_data = ["Season", "Round", "CircuitID", "Position", "DriverID", "GivenName", "FamilyName", "DateOfBirth", "Nationality", "ConstructorName"]
data_final = data_filtrada[columnas_data]
data_final.head(10)

,Season,Round,CircuitID,Position,DriverID,GivenName,FamilyName,DateOfBirth,Nationality,ConstructorName
6960,2020,1,red_bull_ring,1,bottas,Valtteri,Bottas,1989-08-28,Finnish,Mercedes
6961,2020,1,red_bull_ring,2,hamilton,Lewis,Hamilton,1985-01-07,British,Mercedes
6962,2020,1,red_bull_ring,3,max_verstappen,Max,Verstappen,1997-09-30,Dutch,Red Bull
6963,2020,1,red_bull_ring,4,norris,Lando,Norris,1999-11-13,British,McLaren
6964,2020,1,red_bull_ring,5,albon,Alexander,Albon,1996-03-23,Thai,Red Bull
6965,2020,1,red_bull_ring,6,perez,Sergio,Pérez,1990-01-26,Mexican,Racing Point
6966,2020,1,red_bull_ring,7,leclerc,Charles,Leclerc,1997-10-16,Monegasque,Ferrari
6967,2020,1,red_bull_ring,8,sainz,Carlos,Sainz,1994-09-01,Spanish,McLaren
6968,2020,1,red_bull_ring,9,stroll,Lance,Stroll,1998-10-29,Canadian,Racing Point
6969,2020,1,red_bull_ring,10,ricciardo,Daniel,Ricciardo,1989-07-01,Australian,Renault

In [49]:
# Punto 4: Ordenamiento Dataset

formula_uno.sort_values(by='Season', ascending=False)

,Season,Round,CircuitID,Position,DriverID,Code,PermanentNumber,GivenName,FamilyName,DateOfBirth,Nationality,ConstructorID,ConstructorName,ConstructorNationality,Q1,Q2,Q3
8903,2024,15,zandvoort,6,leclerc,LEC,16,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Ferrari,Italian,1:11.370,1:10.689,1:10.582
8870,2024,13,hungaroring,13,albon,ALB,23,Alexander,Albon,1996-03-23,Thai,williams,Williams,British,1:17.280,1:16.429,0
8917,2024,15,zandvoort,20,sargeant,SAR,2,Logan,Sargeant,2000-12-31,American,williams,Williams,British,0,0,0
8914,2024,15,zandvoort,17,bottas,BOT,77,Valtteri,Bottas,1989-08-28,Finnish,sauber,Sauber,Swiss,1:12.168,0,0
8884,2024,14,spa,7,russell,RUS,63,George,Russell,1998-02-15,British,mercedes,Mercedes,German,1:55.353,1:54.095,1:54.184
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,2000,16,suzuka,16,heidfeld,HEI,0,Nick,Heidfeld,1977-05-10,German,prost,Prost,French,1:38.141,0,0
82,2000,16,suzuka,17,alesi,NaN,0,Jean,Alesi,1964-06-11,French,prost,Prost,French,1:38.209,0,0
51,2000,4,silverstone,8,verstappen,NaN,0,Jos,Verstappen,1972-03-04,Dutch,arrows,Arrows,British,1:26.793,0,0
52,2000,4,silverstone,9,irvine,NaN,0,Eddie,Irvine,1965-11-10,British,jaguar,Jaguar,British,1:26.818,0,0
53,2000,4,silverstone,10,villeneuve,VIL,0,Jacques,Villeneuve,1971-04-09,Canadian,bar,BAR,British,1:27.025,0,0